<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to Our Car Rental Service</title>
  {{> styles}}
</head>
<body>
  <div class="container">
    <h1>Welcome to Our Car Rental Service, {{username}}!</h1>
    {{!-- <div class="image-container">
        <img src="../../assets/img1.jpeg" alt="Image 1">
        <img src="../../assets/img2.jpeg" alt="Image 2">
        <img src="../../assets/img3.jpeg" alt="Image 3">
    </div> --}}
    <p>
      Thank you for registering with us! We're thrilled to have you join our community of driving enthusiasts.
      At our car rental service, we are dedicated to providing you with the best experience possible. From
      a wide selection of vehicles to excellent customer service, we aim to make every rental a breeze.
    </p>
    <p>
      As a registered member, you will receive updates on our latest vehicle additions, special offers, and exclusive
      events. We hope you enjoy all the benefits that come with being a part of our family.
    </p>
    <p>
      We have a variety of vehicles that cater to all needs and preferences, whether you're looking for an economy car,
      a luxury vehicle, or something in between.
      <!-- To get started, why not check out our <a href="https://yourcarrentalwebsite.com/vehicles" class="button">Vehicle Fleet</a>? -->
    </p>
    <p>
      We look forward to serving you soon!
    </p>
    <p>
      Best regards,<br>
      The Car Rental Team
    </p>
    <div class="footer">
      <p>
        If you did not register for this account, please ignore this email or contact our support team.
      </p>
    </div>
  </div>
</body>
</html>
